@use '/src/styles/constants/colors';

.myPage {
  max-width: 800px;
  min-height: calc(100vh - 300px);
  margin: 0 auto;

  .buttonWrapper {
    display: flex;

    .button {
      width: 200px;
      height: 200px;
      padding: 15px 0;
      margin-right: 20px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 15px;

      .top {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 15px;
      }

      .icon {
        float: right;
        width: 100px;
        margin: 50px 15px 0 0;
      }
    }

    .rating {
      color: colors.$BLACK;
      background-color: #fcd900;
    }

    .like {
      color: colors.$WHITE;
      background-color: #e8630a;
    }

    .reading {
      color: colors.$WHITE;
      background-color: #035397;
    }
  }
}

.bookRating,
.bookReading,
.bookWant {
  max-width: 800px;
  min-height: calc(100vh - 300px);
  margin: 0 auto;
}
