@use '/src/styles/constants/colors';

.recommend {
  .section1 {
    padding: 30px 20px 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .section2 {
    padding: 30px 20px 20px;
    font-size: 20px;
    font-weight: 500;
  }
}
