@use '/src/styles/constants/colors';

.recentSearchList {
  p {
    padding: 10px;
    font-size: 12px;
    color: colors.$GRAY6;
  }

  .noRecentSearch {
    margin-top: 20px;
    color: colors.$GRAYA;
    text-align: center;
  }

  .recentSearch {
    .recentItem {
      height: 40px;
      padding: 0 10px;
      line-height: 40px;

      .recentItemTitle {
        font-size: 14px;
        color: colors.$BLACK;

        :root[color-theme='dark'] & {
          color: colors.$WHITE;
        }
      }
    }

    .recentItem:hover {
      background-color: rgba(colors.$BLUE, 10%);
    }
  }
}
