@use '/src/styles/constants/colors';

.makeCard {
  display: flex;
  width: 100%;
  background-color: antiquewhite;

  .cardSection {
    width: 50%;
    margin: 0 auto;

    .card {
      width: 80%;
      margin: 0 auto;
      border: 1px solid black;

      img {
        width: 40%;
      }
    }
  }

  .makeSection {
    width: 50%;
    margin: 0 auto;
    background-color: blue;
  }
}
