/* stylelint-disable selector-class-pattern */
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.main {
  .title {
    display: flex;

    .titleIcon {
      width: 50px;
    }
  }
}

@include responsive.after(MD) {
  // background-color: black;

  .main {
    .section {
      margin-top: 50px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
