@use '/src/styles/constants/colors';

.rowBookList {
  display: flex;
  justify-content: center;

  .bookList {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 30px 0;

    :root[color-theme='dark'] & {
      .bookItem {
        .bookWrapper {
          color: colors.$WHITE;
        }
      }
    }

    .bookItem {
      display: flex;
      justify-content: center;
      width: 20%;
      padding: 10px;
      margin: 0 auto;

      .image {
        width: 150px;
        border: 1px solid colors.$GRAYE;
        box-shadow: rgba(0, 0, 0, 19%) 0 10px 20px, rgba(0, 0, 0, 23%) 0 6px 6px;
      }

      .bookWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        color: colors.$BLACK;

        .number {
          font-size: 30px;
          font-weight: 500;
          line-height: 30px;
        }

        .explain {
          text-align: right;

          .title {
            display: block;
            width: 110px;
            overflow: hidden;
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .authors {
            font-size: 12px;
            font-weight: 200;
            line-height: 20px;
          }
        }
      }
    }
  }

  .leftBtn {
    width: 30px;

    .icon {
      padding: 5px;
      color: colors.$WHITE;
      background-color: colors.$GRAYA;
      border-radius: 30px;
    }
  }

  .rightBtn {
    width: 30px;

    .icon {
      padding: 5px;
      color: colors.$WHITE;
      background-color: colors.$GRAYA;
      border-radius: 30px;
    }
  }

  .active {
    .icon {
      background-color: black;
    }
  }
}
