@use '/src/styles/constants/colors';

.layout {
  position: relative;
  background-color: colors.$BACKGROUND;

  header {
    position: fixed;
    top: 0;
    width: 100%;

    nav {
      position: relative;
      height: 80px;
      padding: 20px 0;
      background-color: colors.$BACKGROUND;
      // box-shadow: rgba(0, 0, 0, 24%) 0 0 8px;

      .top {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;

        .mainLogo {
          display: flex;
          width: 100px;
          font-weight: 500;
          line-height: 40px;
          color: colors.$BLACK;

          .bookIcon {
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 5px 0 0 5px;
            color: colors.$WHITE;
            background-color: colors.$MAINBLUE;
            border-radius: 5px;
          }
        }

        .buttonWrapper {
          display: flex;
          justify-content: space-between;
          width: 80px;
          margin-left: 20px;

          .myPage {
            width: 30px;
            color: black;

            svg {
              width: 30px;
              margin-top: 5px;
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: center;
          width: 80%;
          margin-top: 10px;

          ul {
            display: flex;
            justify-content: space-between;
            width: 50%;

            li {
              a {
                line-height: 20px;
                color: colors.$BLACK;
              }

              .searchBtn {
                display: flex;
                width: 80px;
                font-size: 16px;

                .searchIcon {
                  width: 20px;
                }
              }
            }
          }
        }
      }

      .searchList {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        // min-height: 150px;
        // padding: 20px 0;
        visibility: hidden;
        // background-color: colors.$BACKGROUND;
        // box-shadow: rgba(0, 0, 0, 24%) 0 0 8px;
      }

      .isOpen {
        visibility: visible;
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 100px 0;
    margin: 0 100px;
  }

  footer {
    height: 200px;
    padding-top: 50px;
    margin: 0 100px;
    margin-top: 100px;
    border-top: 1px solid colors.$GRAYD;
  }
}
